<p id="notice"><%= notice %></p>

<p>
  <strong>Kinf of service:</strong>
  <%= @service.kinf_of_service %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
