<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Prospecção
      <% if current_user.profile_id != 1 %>
	       <%= link_to "Cadastrar", new_bidding_path(:startPage => "prop", q:{:organ_cont => @organ_cont, :date_gteq => @date_gteq, :date_lteq => @date_lteq, :kind_of_service_id_eq => @kind_of_service_id_eq, :company_id_eq => @company_id_eq, :status_eq => @status_eq}),  class: "btn btn-outline btn-success pull-right", style: "margin-top: -5px" %>
         <% end %>
	 </h4>
  </div>
  <br/>

  <div class="panel-body">
    <div class="form-group">

      <div class="filters">
        <%= render partial: 'biddings/prospection/filters' %>
        <hr>
      </div>

      <div class="table">
        <%= render partial: 'biddings/prospection/table_results' %>
      </div>

    </div>
  </div>
</div>