/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 *= require_tree .
 *= require_self
 */

.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
  left: 37% !important;
	top: 30% !important;
  width: auto;
	overflow: visible; /* allow content to popup out (i.e tooltips) */
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

select {
  background-color: transparent;
  text-transform: uppercase;
	font-size: 1.3rem;
	border-radius: 3px;
	font-weight: bold;
  padding-right: 10px;
}

.border-whitesmoke {
  border: 1px solid whitesmoke;
}

.carousel-container {
  background-color: #f7f7f7;
}

.w-100 {
  width: 100%;
}


a.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

 