<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kind_of_service.name %>
</p>

<%= link_to 'Edit', edit_kind_of_service_path(@kind_of_service) %> |
<%= link_to 'Back', kind_of_services_path %>
